This will be the creation of a final dataset which is an organized combination of transfermarkt_financial_final and combined_squad_stats_2017-2018_to_2025_26.csv

In [1]:
import pandas as pd

### Import and view transfermarkt_financial_final.csv

This is the financial only data!

In [2]:
financial_df = pd.read_csv('transfermarkt_financial_final.csv')
financial_df.columns

Index(['Team', 'Squad_Size', 'Average_Age', 'Number_of_Foreigners',
       'Average_Market_Value', 'Total_Market_Value', 'Position',
       'Goal_Difference', 'Points', 'Year', 'Squad_Size_Normalized_by_Avg',
       'Squad_Size_Normalized_by_Max', 'Average_Age_Normalized_by_Avg',
       'Average_Age_Normalized_by_Max',
       'Number_of_Foreigners_Normalized_by_Avg',
       'Number_of_Foreigners_Normalized_by_Max',
       'Average_Market_Value_Normalized_by_Avg',
       'Average_Market_Value_Normalized_by_Max',
       'Total_Market_Value_Normalized_by_Avg',
       'Total_Market_Value_Normalized_by_Max'],
      dtype='object')

In [3]:
financial_df = financial_df[['Year', 'Team', 'Average_Age_Normalized_by_Avg', 'Number_of_Foreigners_Normalized_by_Avg', 'Average_Market_Value_Normalized_by_Avg', 'Total_Market_Value_Normalized_by_Avg', 'Points', 'Position']]

In [4]:
financial_df.columns

Index(['Year', 'Team', 'Average_Age_Normalized_by_Avg',
       'Number_of_Foreigners_Normalized_by_Avg',
       'Average_Market_Value_Normalized_by_Avg',
       'Total_Market_Value_Normalized_by_Avg', 'Points', 'Position'],
      dtype='object')

In [5]:
financial_df.head()

,Year,Team,Average_Age_Normalized_by_Avg,Number_of_Foreigners_Normalized_by_Avg,Average_Market_Value_Normalized_by_Avg,Total_Market_Value_Normalized_by_Avg,Points,Position
0,2004,chelsea fc,0.947308,1.182266,3.086473,2.840287,95,1
1,2004,manchester united,0.939699,1.231527,2.289591,2.512542,77,3
2,2004,arsenal fc,0.909264,1.428571,1.928685,2.116420,83,2
3,2004,liverpool fc,0.962526,1.280788,1.689043,1.903322,58,5
4,2004,tottenham hotspur,0.962526,1.083744,0.984553,1.109193,52,9

In [6]:
financial_df['Team'].unique()

array(['chelsea fc', 'manchester united', 'arsenal fc', 'liverpool fc',
       'tottenham hotspur', 'newcastle united', 'birmingham city',
       'middlesbrough fc', 'manchester city', 'southampton fc',
       'aston villa', 'everton fc', 'blackburn rovers', 'fulham fc',
       'portsmouth fc', 'bolton wanderers', 'charlton athletic',
       'west bromwich albion', 'crystal palace', 'norwich city',
       'west ham united', 'wigan athletic', 'sunderland afc',
       'sheffield united', 'watford fc', 'reading fc', 'derby county',
       'hull city', 'stoke city', 'wolverhampton wanderers', 'burnley fc',
       'blackpool fc', 'queens park rangers', 'swansea city',
       'cardiff city', 'leicester city', 'afc bournemouth',
       'brighton & hove albion', 'huddersfield town', 'leeds united',
       'brentford fc', 'nottingham forest', 'luton town', 'ipswich town'],
      dtype=object)

#### Import and view combined_squad_stats_2017-2018-2025-2026.csv

In [7]:
performance_df = pd.read_csv('combined_squad_stats_2017-2018-2025-2026.csv')
performance_df.columns

Index(['Year', 'Squad', '# Pl', 'Age', 'Poss', 'Playing-Time_MP',
       'Playing-Time_Starts', 'Playing-Time_Min', 'Playing-Time_90s',
       'Performance_Gls', 'Performance_Ast', 'Performance_G+A',
       'Performance_G-PK', 'Performance_PK', 'Performance_PKatt',
       'Performance_CrdY', 'Performance_CrdR', 'Expected_xG', 'Expected_npxG',
       'Expected_xAG', 'Expected_npxG+xAG', 'Progression_PrgC',
       'Progression_PrgP', '# Pl_defense', '90s', 'Tackles-Tkl',
       'Tackles-TklW', 'Tackles-Def_3rd', 'Tackles-Mid_3rd', 'Tackles-Att_3rd',
       'Challenges-Tkl', 'Challenges-Att', 'Challenges-Tkl%',
       'Challenges-Lost', 'Blocks-Blocks', 'Blocks-Sh', 'Blocks-Pass',
       'Blocks-Int', 'Blocks-Tkl+Int', 'Blocks-Clr', 'Blocks-Err', '# Pl_gca',
       '90s_gca', 'SCA-SCA', 'SCA-SCA90', 'SCA_Types-PassLive',
       'SCA_Types-PassDead', 'SCA_Types-TO', 'SCA_Types-Sh', 'SCA_Types-Fld',
       'SCA_Types-Def', 'GCA_GCA', 'GCA_GCA90', 'GCA-Types_PassLive',
       'GCA-Types_PassDead', 'GCA-Types_TO', 'GCA-Types_Sh', 'GCA-Types_Fld',
       'GCA-Types_Def', '# Pl_keeper', 'MP', 'Starts', 'Min', '90s_keeper',
       'Performance_GA', 'Performance_GA90', 'Performance_SoTA',
       'Performance_Saves', 'Performance_Save%', 'Performance_W',
       'Performance_D', 'Performance_L', 'Performance_CS', 'Performance_CS%',
       'PenaltyKicks_PKatt', 'PenaltyKicks_PKA', 'PenaltyKicks_PKsv',
       'PenaltyKicks_PKm', 'PenaltyKicks_Save%'],
      dtype='object')

In [8]:
performance_df['Squad'].unique()

array(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea',
       'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester City',
       'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd',
       'Southampton', 'Stoke City', 'Swansea City', 'Tottenham',
       'Watford', 'West Brom', 'West Ham', 'Cardiff City', 'Fulham',
       'Wolves', 'Aston Villa', 'Norwich City', 'Sheffield Utd',
       'Leeds United', 'Brentford', "Nott'ham Forest", 'Luton Town',
       'Ipswich Town'], dtype=object)

### The 'Squad' names in performance_df are different from the 'Team' names in financial_df. We need to map this

In [9]:
# Team name mapping from performance_df (Squad) to financial_df (Team)
team_mapping = {
    'Arsenal': 'arsenal fc',
    'Bournemouth': 'afc bournemouth',
    'Brighton': 'brighton & hove albion',
    'Burnley': 'burnley fc',
    'Chelsea': 'chelsea fc',
    'Crystal Palace': 'crystal palace',
    'Everton': 'everton fc',
    'Huddersfield': 'huddersfield town',
    'Leicester City': 'leicester city',
    'Liverpool': 'liverpool fc',
    'Manchester City': 'manchester city',
    'Manchester Utd': 'manchester united',
    'Newcastle Utd': 'newcastle united',
    'Southampton': 'southampton fc',
    'Stoke City': 'stoke city',
    'Swansea City': 'swansea city',
    'Tottenham': 'tottenham hotspur',
    'Watford': 'watford fc',
    'West Brom': 'west bromwich albion',
    'West Ham': 'west ham united',
    'Cardiff City': 'cardiff city',
    'Fulham': 'fulham fc',
    'Wolves': 'wolverhampton wanderers',
    'Aston Villa': 'aston villa',
    'Norwich City': 'norwich city',
    'Sheffield Utd': 'sheffield united',
    'Leeds United': 'leeds united',
    'Brentford': 'brentford fc',
    "Nott'ham Forest": 'nottingham forest',
    'Luton Town': 'luton town',
    'Ipswich Town': 'ipswich town'
}

# Create the 'Team' column in performance_df
performance_df['Team'] = performance_df['Squad'].map(team_mapping)

# Verification checks
print("="*60)
print("TEAM NAME MAPPING VERIFICATION")
print("="*60)

# Check 1: Verify all Squad names were mapped
unmapped = performance_df[performance_df['Team'].isnull()]['Squad'].unique()
if len(unmapped) > 0:
    print(f"\n❌ WARNING: {len(unmapped)} squad names could not be mapped:")
    for squad in unmapped:
        print(f"   - {squad}")
else:
    print("\n✓ All Squad names successfully mapped to Team names")

# Check 2: Show sample of mapping
print(f"\nSample of Squad → Team mapping:")
sample_mapping = performance_df[['Squad', 'Team']].drop_duplicates().head(10)
print(sample_mapping.to_string(index=False))

# Check 3: Verify Team names exist in financial_df
financial_teams = set(financial_df['Team'].unique())
performance_teams = set(performance_df['Team'].dropna().unique())

teams_not_in_financial = performance_teams - financial_teams
if len(teams_not_in_financial) > 0:
    print(f"\n⚠ WARNING: {len(teams_not_in_financial)} teams in performance_df not found in financial_df:")
    for team in teams_not_in_financial:
        print(f"   - {team}")
else:
    print(f"\n✓ All {len(performance_teams)} mapped teams exist in financial_df")

# Check 4: Show counts
print(f"\nTeam counts:")
print(f"  - Unique Squad names in performance_df: {performance_df['Squad'].nunique()}")
print(f"  - Unique Team names mapped: {performance_df['Team'].nunique()}")
print(f"  - Unique Team names in financial_df: {financial_df['Team'].nunique()}")

# Check 5: Show the final structure
print(f"\n✓ Performance dataframe now has {len(performance_df.columns)} columns")
print(f"✓ 'Team' column added at position {list(performance_df.columns).index('Team')}")

# Display first few rows showing Year, Squad, and Team columns
print("\n" + "="*60)
print("SAMPLE DATA (showing Year, Squad, Team)")
print("="*60)
print(performance_df[['Year', 'Squad', 'Team']].head(10).to_string(index=False))

============================================================
TEAM NAME MAPPING VERIFICATION
============================================================

✓ All Squad names successfully mapped to Team names

Sample of Squad → Team mapping:
         Squad                   Team
       Arsenal             arsenal fc
   Bournemouth        afc bournemouth
      Brighton brighton & hove albion
       Burnley             burnley fc
       Chelsea             chelsea fc
Crystal Palace         crystal palace
       Everton             everton fc
  Huddersfield      huddersfield town
Leicester City         leicester city
     Liverpool           liverpool fc

✓ All 31 mapped teams exist in financial_df

Team counts:
  - Unique Squad names in performance_df: 31
  - Unique Team names mapped: 31
  - Unique Team names in financial_df: 44

✓ Performance dataframe now has 80 columns
✓ 'Team' column added at position 79

============================================================
SAMPLE DATA (showing Year, Squad, Team)
============================================================
 Year          Squad                   Team
 2017        Arsenal             arsenal fc
 2017    Bournemouth        afc bournemouth
 2017       Brighton brighton & hove albion
 2017        Burnley             burnley fc
 2017        Chelsea             chelsea fc
 2017 Crystal Palace         crystal palace
 2017        Everton             everton fc
 2017   Huddersfield      huddersfield town
 2017 Leicester City         leicester city
 2017      Liverpool           liverpool fc

In [10]:
print(performance_df.columns)

print(financial_df.columns)

Index(['Year', 'Squad', '# Pl', 'Age', 'Poss', 'Playing-Time_MP',
       'Playing-Time_Starts', 'Playing-Time_Min', 'Playing-Time_90s',
       'Performance_Gls', 'Performance_Ast', 'Performance_G+A',
       'Performance_G-PK', 'Performance_PK', 'Performance_PKatt',
       'Performance_CrdY', 'Performance_CrdR', 'Expected_xG', 'Expected_npxG',
       'Expected_xAG', 'Expected_npxG+xAG', 'Progression_PrgC',
       'Progression_PrgP', '# Pl_defense', '90s', 'Tackles-Tkl',
       'Tackles-TklW', 'Tackles-Def_3rd', 'Tackles-Mid_3rd', 'Tackles-Att_3rd',
       'Challenges-Tkl', 'Challenges-Att', 'Challenges-Tkl%',
       'Challenges-Lost', 'Blocks-Blocks', 'Blocks-Sh', 'Blocks-Pass',
       'Blocks-Int', 'Blocks-Tkl+Int', 'Blocks-Clr', 'Blocks-Err', '# Pl_gca',
       '90s_gca', 'SCA-SCA', 'SCA-SCA90', 'SCA_Types-PassLive',
       'SCA_Types-PassDead', 'SCA_Types-TO', 'SCA_Types-Sh', 'SCA_Types-Fld',
       'SCA_Types-Def', 'GCA_GCA', 'GCA_GCA90', 'GCA-Types_PassLive',
       'GCA-Types_PassDead', 'GCA-Types_TO', 'GCA-Types_Sh', 'GCA-Types_Fld',
       'GCA-Types_Def', '# Pl_keeper', 'MP', 'Starts', 'Min', '90s_keeper',
       'Performance_GA', 'Performance_GA90', 'Performance_SoTA',
       'Performance_Saves', 'Performance_Save%', 'Performance_W',
       'Performance_D', 'Performance_L', 'Performance_CS', 'Performance_CS%',
       'PenaltyKicks_PKatt', 'PenaltyKicks_PKA', 'PenaltyKicks_PKsv',
       'PenaltyKicks_PKm', 'PenaltyKicks_Save%', 'Team'],
      dtype='object')
Index(['Year', 'Team', 'Average_Age_Normalized_by_Avg',
       'Number_of_Foreigners_Normalized_by_Avg',
       'Average_Market_Value_Normalized_by_Avg',
       'Total_Market_Value_Normalized_by_Avg', 'Points', 'Position'],
      dtype='object')

### Combining both the dfs!

In [11]:

# Store original counts
print(f"\nOriginal dataframe sizes:")
print(f"  - performance_df: {len(performance_df)} rows, {len(performance_df.columns)} columns")
print(f"  - financial_df: {len(financial_df)} rows, {len(financial_df.columns)} columns")

# Check unique Year-Team combinations before merge
perf_combos = set(zip(performance_df['Year'], performance_df['Team']))
fin_combos = set(zip(financial_df['Year'], financial_df['Team']))

print(f"\nUnique (Year, Team) combinations:")
print(f"  - performance_df: {len(perf_combos)}")
print(f"  - financial_df: {len(fin_combos)}")
print(f"  - Overlap: {len(perf_combos & fin_combos)}")

# Merge the dataframes
final_df = performance_df.merge(
    financial_df,
    on=['Year', 'Team'],
    how='inner',  # Using inner join since we only want rows that exist in both
    suffixes=('_perf', '_fin')
)

print(f"\n✓ Dataframes merged successfully!")
print(f"  - final_df: {len(final_df)} rows, {len(final_df.columns)} columns")

Original dataframe sizes:
  - performance_df: 160 rows, 80 columns
  - financial_df: 420 rows, 8 columns

Unique (Year, Team) combinations:
  - performance_df: 160
  - financial_df: 420
  - Overlap: 160

✓ Dataframes merged successfully!
  - final_df: 160 rows, 86 columns

In [12]:
# Verification checks
print("\n" + "="*60)
print("DATA INTEGRITY CHECKS")
print("="*60)

# Check 1: Verify no duplicates
duplicates = final_df.duplicated(subset=['Year', 'Team']).sum()
print(f"\nCheck 1 - Duplicate (Year, Team) pairs: {duplicates}")
if duplicates > 0:
    print("WARNING: Found duplicate entries!")

# Check 2: Check for missing data
null_counts = final_df.isnull().sum()
cols_with_nulls = null_counts[null_counts > 0]
if len(cols_with_nulls) > 0:
    print(f"\nCheck 2 - Missing data:")
    print(f"  Columns with missing values: {len(cols_with_nulls)}")
    print(f"  Total missing values: {null_counts.sum()}")
    print(f"  Details:")
    for col, count in cols_with_nulls.items():
        print(f"    - {col}: {count} missing values")
else:
    print(f"\nCheck 2 - ✓ No missing values detected!")

# Check 3: Year range
print(f"\nCheck 3 - Year range:")
print(f"  - Min year: {final_df['Year'].min()}")
print(f"  - Max year: {final_df['Year'].max()}")
print(f"  - Unique years: {sorted(final_df['Year'].unique())}")

# Check 4: Teams included
print(f"\nCheck 4 - Teams:")
print(f"  - Unique teams: {final_df['Team'].nunique()}")
print(f"  - Teams: {sorted(final_df['Team'].unique())}")

# Check 5: Key columns verification
print(f"\nCheck 5 - Key columns present:")
key_cols = ['Year', 'Team', 'Squad', 'Points', 'Position', 
            'Performance_Gls', 'Average_Market_Value_Normalized_by_Avg']
for col in key_cols:
    present = "✓" if col in final_df.columns else "✗"
    print(f"  {present} {col}")

# Save the combined dataframe
output_file = 'final_combined_squad_stats.csv'
final_df.to_csv(output_file, index=False)
print(f"\n✓ Final dataframe saved to: {output_file}")

============================================================
DATA INTEGRITY CHECKS
============================================================

Check 1 - Duplicate (Year, Team) pairs: 0

Check 2 - ✓ No missing values detected!

Check 3 - Year range:
  - Min year: 2017
  - Max year: 2024
  - Unique years: [2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

Check 4 - Teams:
  - Unique teams: 31
  - Teams: ['afc bournemouth', 'arsenal fc', 'aston villa', 'brentford fc', 'brighton & hove albion', 'burnley fc', 'cardiff city', 'chelsea fc', 'crystal palace', 'everton fc', 'fulham fc', 'huddersfield town', 'ipswich town', 'leeds united', 'leicester city', 'liverpool fc', 'luton town', 'manchester city', 'manchester united', 'newcastle united', 'norwich city', 'nottingham forest', 'sheffield united', 'southampton fc', 'stoke city', 'swansea city', 'tottenham hotspur', 'watford fc', 'west bromwich albion', 'west ham united', 'wolverhampton wanderers']

Check 5 - Key columns present:
  ✓ Year
  ✓ Team
  ✓ Squad
  ✓ Points
  ✓ Position
  ✓ Performance_Gls
  ✓ Average_Market_Value_Normalized_by_Avg

✓ Final dataframe saved to: final_combined_squad_stats.csv